
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/stylese.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>


    <!-- Sidebar area  -->


    <section id="sidebar">


        <div class="side-menu">
            <div class="brandname">
                <h1>Admin</h1>
            </div>
            <ul>
                <li><img src="~/img/dash.ico" /><a href="https://localhost:44343/Admin">Dashboard</a></li>
                <li><img src="" alt=""> <a href="">Profile</a></li>
                <li> <img src="" alt=""> <a href="">Posts</a></li>
                <li><img src="" alt=""> <a href="">Needy Person</a></li>
                <li><img src="" alt=""> <a href="">Donors</a></li>

            </ul>
        </div>

    </section>

    <section id="container">

        <div class="container">
            <div class="header">




                <div class="adminlogout">

                    <a href="index.html"><img src="~/img/logout.png" alt=""></a>

                </div>



            </div>


            <div class="mycontent">

                <div class="data">

                    <div class="data1">

                        <img src="~/img/dummy_dash_1.png" alt="">

                    </div>


                    <div class="data2">
                        <img src="~/img/dummy_dash_2.png" alt="">
                    </div>

                </div>

            </div>


        </div>



    </section>



</body>
</html>

